.container {
  margin-top: 40px;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  color: black;
  overflow-x: auto; 
  display: block;
  white-space: nowrap; 
}

th, td {
  padding: 10px;
  border: 2px solid hsl(0, 0%, 0%);
  text-align: left;
  word-wrap: break-word; 
}

th {
  font-weight: 900;
}


@media (min-width: 320px) and (max-width: 425px) {
  table{
    display: block;
    width: 100%;
  }
  thead {
    display: none; 
  }
  tbody,tr{
    display: block;
    margin-bottom: 20px;
  }
  td{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    font-size: 12px;
    border: 1px solid hsl(0, 0%, 80%);
  }
}
@media (min-width: 600px) and (max-width: 1024px) {
  th, td {
    padding: 5px; 
    font-size: 12px; 
}
.container {
    table-layout: auto; 
    overflow-x: auto;
    white-space: nowrap; 
    
}

}